<nav class="navbar navbar-expand-lg navbar-dark" style="background: rgba(13,110,253,0.85);">
  <div class="container">
    <a class="navbar-brand" href="/">Travel Persona Explorer</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navMenu">
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/pie">Pie Chart</a>
        <a class="nav-link" href="/bar">Bar Chart</a>
        <a class="nav-link" href="/map">Map View</a>
      </div>
    </div>
  </div>
</nav>